@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playpen+Sans:wght@500&display=swap');

.layout
{
    margin: 0;
}

.header
{
    display: flex;
    background-color: rgb(165, 28, 39);
    /* perataan secara hoerizontal */
    justify-content: start;
    /* perataan vertical */
    align-items: center;
    min-height: 50px;
    padding: 10px;

    top: 0;
    position: sticky;
}

.content
{
    text-align: justify;
    min-height: 750px;
    padding: 20px;
}
.content_bg
{
    background-color: darkgrey;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(165, 28, 39);

    font-family: 'Pacifico', cursive;
    font-family: 'Playpen Sans', cursive;
    font-size: 15px;

}